<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="true" access-denied-page="/Acl/AccessDenied.jsf">

		<intercept-url pattern="/Acl/UserEdit**" access="ROLE_APU_W" />
		<intercept-url pattern="/ProgramMS/Legend**" access="ROLE_USER" />
		<intercept-url pattern="/Acl/AppSettings**" access="ROLE_APU_W" />
		<intercept-url pattern="/Acl/UserList**" access="ROLE_APU_W,ROLE_APU_R" />
		<intercept-url pattern="/Acl/ThresholdControlCosts**"
			access="ROLE_APU_W,ROLE_APU_R" />
		<intercept-url pattern="/Acl/LoginHistory**" access="ROLE_APU_W,ROLE_APU_R" />
		<intercept-url pattern="/Acl/MailSettingsEdit**" access="ROLE_APU_W" />
		<intercept-url pattern="/Acl/MailSettingsList**" access="ROLE_APU_W,ROLE_APU_R" />
		<intercept-url pattern="/Acl/**" access="ROLE_USER" />
		<intercept-url pattern="/DocumentMS/**" access="ROLE_USER" />
		<intercept-url pattern="/ProgramMS/ActivationProcedureList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_AGU_R,ROLE_AGU_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProgramMS/ActivationProcedureEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_AGU_R,ROLE_AGU_W, ROLE_ACU_R, ROLE_ACU_W, ROLE_ANCM_W" />
		<intercept-url pattern="/ProgramMS/QSNGoalView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_STC_W,ROLE_STC_R, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProgramMS/PrioritaryReasonsView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_STC_W,ROLE_STC_R, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProgramMS/AnagraphicalDataView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_STC_W,ROLE_STC_R, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProgramMS/IdentificationDataView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_STC_W,ROLE_STC_R, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProgramMS/FinancialDataView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_STC_W,ROLE_STC_R, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProgramMS/PhisicalProgramClassificationView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R" />
		<intercept-url pattern="/ProgramMS/ControllerUserAnagraphList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_STC_W,ROLE_STC_R, ROLE_ACU_R, ROLE_ACU_W,ROLE_ANCM_W,ROLE_ANCM_R" />
		<intercept-url pattern="/ProgramMS/ControllerUserAnagraphEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W, ROLE_ANCM_W" />
		<intercept-url pattern="/ProjectMS/ProjectList**"
			access="ROLE_USER" />
		<intercept-url pattern="/ProjectMS/ProjectEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R" />
		<intercept-url pattern="/ProjectMS/ProjectStart**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R,ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/BudgetView**"
			access="ROLE_BP_W,ROLE_BP_R,ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R,ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/CFPartnerList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_AGU_R,ROLE_AGU_W,ROLE_ACU_R,ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/CFPartnerEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_STC_W,ROLE_SUPER_ADMIN_W,ROLE_AGU_W,ROLE_AGU_R, ROLE_ANCM_W" />
		<intercept-url pattern="/ProjectMS/PhisicalProgressUploadEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/PhisicalProgressNotesEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/LocalizationList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_BP_R,ROLE_BP_W,ROLE_B_R,ROLE_B_W,ROLE_ACU_R,ROLE_ACU_W, ROLE_STC_W,ROLE_STC_R" />
		<intercept-url pattern="/ProjectMS/LocalizationEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_STC_W,ROLE_AGU_W,ROLE_B_W" />
		<intercept-url pattern="/ProjectMS/GeneralBudgetView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R,ROLE_ACU_W,ROLE_UC_W,ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/PhisicalInitializationEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_AGU_W" />
		<intercept-url pattern="/ProjectMS/ProjectIndicatorsEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_BP_W,ROLE_BP_R,ROLE_B_R,ROLE_B_W,ROLE_ACU_R,ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/PhisicalInitializationList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_BP_W,ROLE_BP_R,ROLE_B_R,ROLE_B_W,ROLE_ACU_R,ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/PartnerBudgetView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_BP_R,ROLE_AGU_R,ROLE_AGU_W,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R,ROLE_ACU_W,ROLE_UC_W,ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/PartnerBudgetEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_STC_W,ROLE_AGU_W,ROLE_B_W" />
		<intercept-url pattern="/ProjectMS/BudgetList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_R,ROLE_BP_W,ROLE_B_R,ROLE_B_W,ROLE_AGU_R,ROLE_AGU_W,ROLE_STC_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_UC_W,ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/DURCompilationList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_R,ROLE_BP_W,ROLE_STC_R,ROLE_STC_W,ROLE_AGU_R,ROLE_AGU_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_B_R,ROLE_B_W,ROLE_ACUM_R,ROLE_ACUM_W,ROLE_SUPER_ADMIN_W, ROLE_UC_W,ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/DURCompilationEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_R,ROLE_BP_W,ROLE_STC_R,ROLE_STC_W,ROLE_AGU_R,ROLE_AGU_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_B_R,ROLE_B_W,ROLE_ACUM_R,ROLE_ACUM_W,ROLE_SUPER_ADMIN_W, ROLE_UC_W,ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/DURReimbursementList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_R,ROLE_AGU_W,ROLE_BP_R,ROLE_BP_W,ROLE_STC_R,ROLE_STC_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_B_R,ROLE_B_W,ROLE_DAEC_R,ROLE_DAEC_W,ROLE_SUPER_ADMIN_W" />
		<intercept-url pattern="/ProjectMS/DURReimbursementEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_AGU_R,ROLE_AGU_W,ROLE_BP_R,ROLE_BP_W,ROLE_STC_R,ROLE_STC_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_B_R,ROLE_B_W,ROLE_DAEC_R,ROLE_DAEC_W,ROLE_SUPER_ADMIN_W" />
		<intercept-url pattern="/ProjectMS/SuperAdminChange**"
			access="" />
		<!-- ROLE_AGU_R,ROLE_AGU_W,ROLE_STC_R,ROLE_STC_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_SUPER_ADMIN_W -->
		<intercept-url pattern="/ProjectMS/ExpenditureDeclarationEdit**"
			access="ROLE_AGU_R,ROLE_AGU_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/ClosingOfAccountsEdit**"
			access="ROLE_SUPER_ADMIN_W,ROLE_ACUM_R, ROLE_ACUM_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/ClosingOfAccountsList**"
			access="ROLE_SUPER_ADMIN_W,ROLE_ACUM_R, ROLE_ACUM_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/ExpenditureDeclarationList**"
			access="ROLE_AGU_R,ROLE_AGU_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/PaymentApplicationEdit**"
			access="ROLE_SUPER_ADMIN_W,ROLE_ACUM_R, ROLE_ACUM_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/PaymentApplicationList**"
			access="ROLE_SUPER_ADMIN_W,ROLE_ACUM_R, ROLE_ACUM_W, ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/NotRegularDurList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_ANCM_W,ROLE_ANCM_R,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_W,ROLE_ACU_R,ROLE_AGU_W,ROLE_AGU_R" />
		<intercept-url pattern="/ProjectMS/NotRegularDurEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_ACU_W,ROLE_ACU_R,ROLE_AGU_R,ROLE_AGU_W" />
		<intercept-url pattern="/ProjectMS/SuspensionManagementEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_ACU_W,ROLE_ACU_R,ROLE_AGU_R,ROLE_AGU_W" />
		<intercept-url pattern="/ProjectMS/CostCertificationList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_ACUM_R,ROLE_ACUM_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_AGU_W,ROLE_AGU_R, ROLE_STC_R, ROLE_STC_W,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/CostManagementList**"
			access="ROLE_UC_W,ROLE_UC_R,ROLE_ACUM_R,ROLE_ACUM_W, ROLE_AGU_W,ROLE_AGU_R, ROLE_STC_R, ROLE_STC_W,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/PhisicalProgressView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/FinancialProgressView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/FinancialProgressEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W" />
		<intercept-url pattern="/ProjectMS/JuridicalEngageList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R,ROLE_AGU_W,ROLE_AGU_R,ROLE_ACU_R, ROLE_ACU_W, ROLE_B_W, ROLE_B_R, ROLE_BP_R, ROLE_BP_W, ROLE_CIL_W, ROLE_CIL_R, ROLE_UC_W, ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/JuridicalEngageEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_STC_R, ROLE_B_W, ROLE_BP_W, ROLE_AGU_W,ROLE_AGU_R, ROLE_CIL_W, ROLE_CIL_R, ROLE_UC_W, ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/AssignmentProcedureEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_W, ROLE_STC_W, ROLE_STC_R, ROLE_CIL_W, ROLE_CIL_R, ROLE_UC_W, ROLE_UC_R" />
		<intercept-url pattern="/ProjectMS/AssignmentProcedureList**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W, ROLE_STC_W, ROLE_STC_R,ROLE_ACU_R, ROLE_ACU_W, ROLE_CIL_R, ROLE_CIL_W, ROLE_UC_R, ROLE_UC_W" />
		<intercept-url pattern="/ProjectMS/ProcedureProgress**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_STC_W,ROLE_STC_R,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/ProcedureInsert**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_W,ROLE_AGU_W,ROLE_BP_R,ROLE_AGU_R,ROLE_B_R,ROLE_B_W,ROLE_ACU_R,ROLE_ACU_W,ROLE_STC_W,ROLE_STC_R" />
		<intercept-url pattern="/ProjectMS/ProgressValidationFlowView**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_R,ROLE_BP_W,ROLE_AGU_R,ROLE_AGU_W,ROLE_STC_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_B_R,ROLE_B_W,ROLE_ACU_R, ROLE_ACU_W" />
		<intercept-url pattern="/ProjectMS/ProgressValidationFlowEdit**"
			access="ROLE_AAU_W,ROLE_AAU_R,ROLE_BP_R,ROLE_BP_W,ROLE_AGU_R,ROLE_AGU_W,ROLE_STC_R,ROLE_SUPER_ADMIN_W,ROLE_STC_W,ROLE_B_R,ROLE_B_W" />
		<intercept-url pattern="/ProjectMS/LocalCheckList**"
			access="ROLE_AAU_W, ROLE_AAU_R, ROLE_ACU_W, ROLE_ACU_R, 
				ROLE_SUPER_ADMIN_W,ROLE_STC_W, ROLE_STC_R, ROLE_BP_W, ROLE_BP_R, ROLE_B_W, ROLE_B_R, 
				ROLE_CIL_W, ROLE_CIL_R, ROLE_AGU_W, ROLE_AGU_R, ROLE_DAEC_W, ROLE_DAEC_R" />
		<intercept-url pattern="/ProjectMS/LocalCheckEdit**"
			access="ROLE_AAU_W, ROLE_AAU_R, ROLE_ACU_W, ROLE_ACU_R, 
				ROLE_SUPER_ADMIN_W,ROLE_STC_W, ROLE_STC_R, ROLE_BP_W, ROLE_BP_R, ROLE_B_W, ROLE_B_R, 
				ROLE_CIL_W, ROLE_CIL_R, ROLE_AGU_W, ROLE_AGU_R, ROLE_DAEC_W, ROLE_DAEC_R" />
		<intercept-url pattern="/ProjectMS/StateChangesList**"
			access="ROLE_AAU_W, ROLE_AAU_R, ROLE_ACU_W, ROLE_ACU_R, 
				ROLE_SUPER_ADMIN_W,ROLE_STC_W, ROLE_STC_R, ROLE_BP_W, ROLE_BP_R, ROLE_B_W, ROLE_B_R, 
				ROLE_CIL_W, ROLE_CIL_R, ROLE_AGU_W, ROLE_AGU_R, ROLE_DAEC_W, ROLE_DAEC_R" />
		<intercept-url
			pattern="/ServiceFunctions/GiuridicalEnageDuplicateManagement**"
			access="ROLE_AAU_W, ROLE_AAU_R, ROLE_ACU_W, ROLE_ACU_R, 
				ROLE_SUPER_ADMIN_W,ROLE_STC_W, ROLE_STC_R, ROLE_BP_W, ROLE_BP_R, ROLE_B_W, ROLE_B_R, 
				ROLE_CIL_W, ROLE_CIL_R, ROLE_AGU_W, ROLE_AGU_R, ROLE_DAEC_W, ROLE_DAEC_R" />
		<intercept-url pattern="/DocumentMS/DocumentList**"
			access="ROLE_USER" />
		<intercept-url pattern="Acl/MailManagmentView**" access="ROLE_APU_W,ROLE_APU_R" />
		<intercept-url pattern="/styles/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/JavaScript/**" access="ROLE_USER" />
		<intercept-url pattern="/Common/**" access="ROLE_USER" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/Home**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-processing-url="/j_spring_security_check"
			login-page="/Login.jsf" default-target-url="/Common/Index.jsf"
			authentication-failure-url="/Login.jsf" />
		<logout logout-url="/j_spring_security_logout"
			logout-success-url="/" />
	</http>

	<beans:bean id="securityControllerBean"
		class="com.infostroy.paamns.common.security.beans.PersistSecurityBean">
	</beans:bean>

	<beans:bean id="securityInfoProcBean"
		class="com.infostroy.paamns.common.security.beans.SecurityInfoProcBean">
	</beans:bean>

	<beans:bean id="authUserDetailsBean"
		class="com.infostroy.paamns.common.security.beans.AuthUserDetailsBean">
		<beans:property name="securityController" ref="securityControllerBean" />
		<beans:property name="securityInfoProc" ref="securityInfoProcBean" />
	</beans:bean>

	<authentication-provider user-service-ref="authUserDetailsBean">
		<password-encoder hash="md5" />
	</authentication-provider>

</beans:beans>
