<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ittun?autoReconnect=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.connection.autocommit">false</property>
  <!-- Use the C3P0 connection pool. -->
  <property name="c3p0.min_size">5</property>
  <property name="c3p0.max_size">20</property>
  <property name="c3p0.timeout">180</property>
  <property name="c3p0.idle_test_period">100</property>
  <!-- Disable second-level cache. -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <property name="cache.use_query_cache">false</property>
  <property name="cache.use_minimal_puts">false</property>
  <property name="max_fetch_depth">3</property>
  <!-- Print SQL to stdout. -->
  <property name="show_sql">false</property>
  <property name="format_sql">false</property>
  <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
  <property name="hbm2ddl.auto">update</property>
  <!-- Bind the getCurrentSession() method to the thread. -->
  <property name="current_session_context_class">thread</property>
  <!-- Mapping files 
 <mapping resource="entity.hbm.xml" /> -->
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Version"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ExpendituresOfPaymentApplication"/>
   <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ClosingAccounts"/>
   <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ReasonForAbsenceCIG"/>
    <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AmountsToBeRecoveredAtTheClose"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.RegistredAmount"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.UnrecoverableAmountsAtTheClose"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AmountsWithdrawnAndRecoveredDuringTheAccountingPeriod"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ExpenditureDeclaration"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PaymentApplication"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ExpenditureDeclarationDurCompilations"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PaymentApplicationDurCompilations"/>
    <mapping class="com.infostroy.paamns.web.beans.wrappers.CostDefinitionsSpecificGoalsWrapper"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.RequestTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AdvancesIncludedInPaymentApplication"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ExpenditureDeclarationStates"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AdditionalFesrInfo"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AdditionalFesrCFInfo"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ActivationProcedureAnagraph"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ExpenditureDeclarationAccountingPeriod"/>
  <mapping class="com.infostroy.paamns.web.beans.wrappers.ExpenditureDeclarationAnnex1dWrapper"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ActivationProcedureInfo"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Addresses"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AnnualProfiles"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ApplicationSettings"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.AssignmentProcedures"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.BudgetInputSourceDivided"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Category"/>
    <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CEPaymentRequest"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CFPartnerAnagraphCompletations"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CFPartnerAnagraphs"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CFPartnerAnagraphProject"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ControllerUserAnagraph"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CostDefinitions"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CostDefinitionsToDocuments"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CostDefinitionsToNotes"/>
    <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.DocumentsAdm"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Documents"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.SignedDocuments"/>
   <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.HierarchicalLevel"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.DurCompilations"/>
   <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CostManagement"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.DurInfos"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.DurInfoToResponsiblePeople"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.DurReimbursements"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.DurSummaries"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.FESRInfo"/>
   <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalProgressToDocument"/>
   <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalProgressNotes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.RotationFoundInfo"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.GeneralBudgets"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.GiuridicalEngages"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.LocalChecks"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.LocalCheckToDocuments"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Localizations"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.CostItemAsse3"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Mails"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.MailSettings"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.NonRegularySituations"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PartnersBudgets"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PaymentRequest"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Phase"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PaymentRequestItem"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalInitializations"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalInitializationToCoreIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalInitializationToEmploymentIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalInitializationToProgramIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PhisicalInitializationToQsnIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProcedureNotes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Procedures"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProcedureTipology"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProcedureTipologyStep"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProcedureTipologyStepInfos"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProgressValidationObjectDocuments"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProgressValidationObjects"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProjectIformationCompletations"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProjectIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Projects"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ProjectStatesChanges"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Recoveries"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Responsibilities"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.SuperAdminChange"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.UserRoles"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Users"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.UserActivityLog"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.UsersLogins"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ActTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.CFPartnerAnagraphTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ControllerTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Cities"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.CostDefinitionPhases"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.CostItems"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.CostStates"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Countries"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Departments"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.DocumentTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Currencies"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.DurStates"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.EconomicActivities"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.FinancingForms"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.NotRegularTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.PaymentTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.PaymentWays"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ProgressValidationStates"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ProjectStates"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Provinces"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ReasonsForDelay"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Regions"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ActivationProcedureTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ResponsibilityTypes"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.ResponsibleUsers"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.Roles"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Sections"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.SpecificGoals"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Typologies"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Zones"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.CPT"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.CUP"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Naming"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.enums.Ateco"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.AnagraphicalData"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.CoreIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.EmploymentIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.FinancialData"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.ProgramImplementation"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.IdentificationData"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.PhisicalClassificationPriorityThema"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.PhisicalClassificationQSNGoal"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.PrioritaryReasons"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.ProgramIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.QSNGoal"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.Legend"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.FinancingPlan"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.QsnIndicators"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.statics.CostAsse3"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.localization.LocalValue"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.Reportings"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.ExpirationDate"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PotentialProjects"/>
  <mapping class="com.infostroy.paamns.persistence.beans.entities.domain.PotentialProjectsToDocuments"/>
 </session-factory>
</hibernate-configuration>
